
html
{
    width: 100%;
    height: 100%;
}
@font-face
{
    font-family: "RobotoR";
    src: local("RobotoR"), url("../fonts/Roboto-Regular.ttf") format("truetype");
    
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header-div
{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-45deg, #020B23, #02163b, #051C46, #000000);
    margin: 0 auto;
    width: 375px;
    height: 40vh;
    box-shadow: 5px 10px 50px rgb(3, 0, 32);
}

img#transparent-bckg
{
    opacity: 0.1;
    width: 160px;
    position: relative;
    top: 120px;
    left: 160px;
    z-index: 2;
} 

#foto-perfil
{
    /* border: 1px solid #FFF; */
    position: absolute;
    width: 150px;
    z-index: 1;
    /* border-radius: 50%; */
    /* box-shadow: 10px 5px 50px rgb(3, 0, 32); */
}


div#conteiner
{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
} 
div#general-info
{
    align-items: center;
    justify-content: center ;
    margin: 0 auto;
    width: 375px;
    height: 100%;
    background-color: #e0dfdf;
    display: flex;
    box-shadow: 5px 10px 50px rgb(3, 0, 32);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
div#info-content
{
    width: 375px;
    display:flex;
    flex-direction: column;
}

svg.item-icons
{
     width: 40px;
    height: 40px;
    fill: #4e4b4b;
    margin-left: 40px;
}

svg#item-instagram
{
    width: 45px;
    height: 45px;
}
svg#item-whatsapp
{
    width: 45px;
    height: 45px;
}

svg.item-icons:hover
{
   fill: #FFF
}
a.icones-laterais 
{
     padding: 33px 11px;
}
a.icones-laterais:hover
{
   background-color: #02163b;
}
a.icones-laterais:active
{
   background-color: #02163b;
}

div.item-info
{
    display: block;
    text-align: center;
    font-family: RobotoR;
    height: 100px;
    width: 365px;
    border-bottom: 1px solid #aaa7a7;
}

div.item-info:last-child
{
    border-bottom: none;
}
span.info-names
{
    vertical-align: middle;
    margin-left: 80px;
}

div#maps
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 375px;
}
a.links-inf-ger
{
     text-decoration: none;
    color: #1E1E1E;
    display: flex;
    width: 375px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
a#last-item.links-inf-ger
{
border-bottom-right-radius: 20px;
}

a.links-inf-ger:hover
{
    
    background-color: #02163b;
    color: #FFF;
}

a.links-inf-ger#last-link-item:hover
{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /* border: 1px solid white; */
}

a.links-inf-ger:active
{
    background-color: #02163b;
    color: #FFF;
}



#iframap
{
    display: none;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 50px rgb(3, 0, 32);
}
#mostramap
{
    background-color: #1E1E1E;
    color: #FFF;
    width: 100px;
    height: 40px;
    margin: 10px;
    border-radius: 20px;
}



/* ===========================================  Desktop  ======================================================== */
@media (min-width: 500px)
{
    body
    {
    background-image: linear-gradient(-45deg, #020B23, #02163b, #051C46, #100244);
    background-origin: content-box;
    background-attachment: fixed;
    }
   
}